<!--job_detail.html-->
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    豆瓣图书可视化系统
{% endblock %}
{% block headmessage %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">图书详情-{{ book_detail_name.book_name }}</h3>
        </div>
        <div class="panel-body">
            {{ job_second_label }}-{{ job_first_label }}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
{#            <form class="form-inline" role="form" method="get" action='/job_detail/{{ books_detail }}/search/'>#}
{#                <div class="form-group">#}
{#                    <label for="id_job_name">标签</label>#}
{#                    <input id="id_job_name" maxlength="30" name="positionLabel" type="text" class="form-control">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="id_job_name">地点</label>#}
{#                    <input id="id_job_name" maxlength="30" name="district" type="text" class="form-control">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="id_job_type">薪金</label>#}
{#                    <select id="id_job_type" name="salary" class="form-control">#}
{#                        <option value="所有">所有</option>#}
{#                        <option value="40k以上">40k以上</option>#}
{#                        <option value="35k-40k">35k-40k</option>#}
{#                        <option value="30k-35k">30k-35k</option>#}
{#                        <option value="25k-30k">25k-30k</option>#}
{#                        <option value="20k-25k">20k-25k</option>#}
{#                        <option value="15k-20k">15k-20k</option>#}
{#                        <option value="10k-15k">10k-15k</option>#}
{#                        <option value="5k-10k">5k-10k</option>#}
{#                        <option value="5k以下">5k以下</option>#}
{#                    </select>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="id_job_name">学历</label>#}
{#                    <select id="id_job_type" name="education" class="form-control">#}
{#                        <option value="所有">所有</option>#}
{#                        <option value="大专">大专</option>#}
{#                        <option value="本科">本科</option>#}
{#                        <option value="硕士">硕士</option>#}
{#                        <option value="博士">博士</option>#}
{#                        <option value="不限">不限</option>#}
{#                    </select>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-default">search</button>#}
{#            </form>#}
        </div>
        <div class="panel-body">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#job" data-toggle="tab">图书详情</a></li>
                <li><a href="#data" data-toggle="tab">数据分析</a></li>
{#                <li><a href="#learn" data-toggle="tab">学习乐园</a></li>#}
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade" id="data">
{#                     <div class="row">#}
{#                           <div class="col-md-7 col-md-offset-2">#}
{#                                <h2>{{ job_name }}关键词热点图</h2>#}
{#                                    <p> .img-responsive类让图片支持响应式，将很好地扩展到父元素 (通过改变窗口大小查看效果):</p>#}
{#                                    <img src="{% static keyWord %}" class="img-responsive" alt="关键词提取，图片未能正确加载"#}
{#                                     width="auto"#}
{#                                     height="auto">#}
{#                           </div>#}
{#                     </div>#}
                    <div class="row">
                        <div class="col-md-12">
                            <div id="main" style="width: 1080px;height:560px;"></div>
                            <script type="text/javascript">
                                // 基于准备好的dom，初始化echarts实例
                                var myChart = echarts.init(document.getElementById('main'));
                                option = {
                                    title: {
                                        text: '{{ job_name }}热点分析',
                                        link: 'https://www.baidu.com/s?wd=' + encodeURIComponent('ECharts'),
                                        x: 'center',
                                        textStyle: {
                                            fontSize: 24
                                        }

                                    },
                                    backgroundColor: '#F7F7F7',
                                    tooltip: {
                                        show: true
                                    },
                                    toolbox: {
                                        feature: {
                                            saveAsImage: {
                                                iconStyle: {
                                                    normal: {
                                                        color: '#FFFFFF'
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    series: [{
                                        name: '{{ job_name }}热点分析',
                                        type: 'wordCloud',
                                        size: ['9%', '99%'],
{#                                        sizeRange: [15, 75],#}
                                        //textRotation: [0, 45, 90, -45],
                                        rotationRange: [-45, 90],
                                        //shape: 'circle',
                                        textPadding: 0,
                                        autoSize: {
                                            enable: true,
                                            minSize: 6
                                        },
                                        textStyle: {
                                            normal: {
                                                color: function () {
                                                    return 'rgb(' + [
                                                        Math.round(Math.random() * 160),
                                                        Math.round(Math.random() * 160),
                                                        Math.round(Math.random() * 160)
                                                    ].join(',') + ')';
                                                }
                                            },
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowColor: '#333'
                                            }
                                        },
                                        data: [

                                        ]
                                    }]

                                };
                                var JosnList = [];

                                JosnList.push(
                                    {% for key,item_data in my_dict.items %}
                                    {
                                        name: '{{ key }}',
                                        value:{{ item_data }}
                                    }
                                    {% if not forloop.last %}, {% endif %}{% endfor %}
                                );

                                option.series[0].data = JosnList;
{#                                function randomDataArray()#}
{#                                {#}
{#                                    var d = [];#}
{##}
{#                                    var len = 10;#}
{#                                    for( key in {{ my_dict }})#}
{#                                    {#}
{#                                        d.push({#}
{#                                                name: key,#}
{#                                                value: my_dict[key]#}
{#                                            });#}
{#                                        alert({{ my_dict }});#}
{#                                    }#}
{#                                    return d;#}
{#                                }#}

{#                                var JosnList = [];#}

{#                                JosnList.push(#}
{#                                    {% for key,item_data in my_dict.items %}#}
{#                                    {#}
{#                                        name: {{ key }},#}
{#                                        value:{{ item_data }}#}
{#                                    }#}
{#                                    {% endfor %}#}
{#                                );#}

{#                                option.series[0].data = JosnList;#}
{#                                option.series[0].data = [{#}
{#                                                name: "Jayfee",#}
{#                                                value: 666#}
{#                                            }, {#}
{#                                                name: "Nancy",#}
{#                                                value: 520#}
{#                                            }];#}


                                //myChart.setOption(option);
                                myChart.on('click', function (params) {
                                    //alert((params.name));
                                    window.open('https://www.baidu.com/s?wd=' + encodeURIComponent(params.name));

                                });
                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
                            </script>
                        </div>
                    </div>
                    <div class="row">
                                <div class = "col-md-12">
                                    <div id = "round1" style="width: 1080px;height:560px;"></div>
                                    <script type = "text/javascript">
                                        var myChart = echarts.init(document.getElementById('round1'));
                                        option = {
                                            backgroundColor: '#2c343c',
{#                                            color: ['#3398DB'],#}
                                            title: {
                                                text: '评分饼图',
                                                left: 'center',
                                                top: 20,
                                                textStyle: {
                                                    color: '#ccc'
                                                }
                                            },

                                            tooltip: {
                                                trigger: 'item',
                                                formatter: '{a} <br/>{b} : {c} ({d}%)'
                                            },

                                            visualMap: {
                                                show: false,
                                                min: 0,
                                                max: 100,
                                                inRange: {
                                                    colorLightness: [0, 1]
                                                }
                                            },
                                            series: [
                                                {
                                                    name: '访问来源',
                                                    type: 'pie',
                                                    radius: '55%',
                                                    center: ['50%', '50%'],
                                                    data: [
                                                        {value: {{ book_detail_name.book_stars5 }}, name: '5★'},
                                                        {value: {{ book_detail_name.book_stars4 }}, name: '4★'},
                                                        {value: {{ book_detail_name.book_stars3 }}, name: '3★'},
                                                        {value: {{ book_detail_name.book_stars2 }}, name: '2★'},
                                                        {value: {{ book_detail_name.book_stars1 }}, name: '1★'}
                                                    ].sort(function (a, b) { return a.value - b.value; }),
                                                    roseType: 'radius',
                                                    label: {
                                                        color: 'rgba(255, 255, 255, 0.3)'
                                                    },
                                                    labelLine: {
                                                        lineStyle: {
                                                            color: 'rgba(255, 255, 255, 0.3)'
                                                        },
                                                        smooth: 0.2,
                                                        length: 10,
                                                        length2: 20
                                                    },
                                                    itemStyle: {
                                                        color: '#c23531',
                                                        shadowBlur: 200,
                                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                    },

                                                    animationType: 'scale',
                                                    animationEasing: 'elasticOut',
                                                    animationDelay: function (idx) {
                                                        return Math.random() * 200;
                                                    }
                                                }
                                            ]
                                        };
                                        myChart.setOption(option)
                                    </script>
                                </div>
                            </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div id="main1" style="width: 1080px;height:560px;"></div>
                            <script type="text/javascript">
                                // 基于准备好的dom，初始化echarts实例
                                var myChart = echarts.init(document.getElementById('main1'));
{#                                option = {#}
{#                                    title: {#}
{#                                        text: '{{ job_name }}评分分布情况',#}
{#                                        subtext: '来自-互联网',#}
{#                                        x: 'center'#}
{#                                    },#}
{#                                    tooltip: {#}
{#                                        formatter: '（评分区间,评分数量）: ({c})',#}
{#                                        axisPointer: {#}
{#                                            type: 'cross'#}
{#                                        }#}
{#                                    },#}
{#                                    toolbox: {#}
{#                                        show: true,#}
{#                                        feature: {#}
{#                                            mark: {show: true},#}
{#                                            dataZoom: {show: true},#}
{#                                            dataView: {show: true, readOnly: false},#}
{#                                            restore: {show: true},#}
{#                                            saveAsImage: {show: true}#}
{#                                        }#}
{#                                    },#}
{#                                    dataRange: {#}
{#                                        min: 0,#}
{#                                        max: 10,#}
{#                                        y: 'center',#}
{#                                        text: ['高', '低'],           // 文本，默认为数值文本#}
{#                                        color: ['yellow', 'blue'],#}
{#                                        calculable: true#}
{#                                    },#}
{#                                    xAxis: [#}
{#                                        {#}
{#                                            name: '分',#}
{#                                            type: 'value',#}
{#                                            scale: true#}
{#                                        }#}
{#                                    ],#}
{#                                    yAxis: [#}
{#                                        {#}
{#                                            name: '单位/条',#}
{#                                            type: 'value',#}
{#                                            position: 'left',#}
{#                                            scale: true#}
{#                                        }#}
{#                                    ],#}
{#                                    animation: false,#}
{#                                    series: [#}
{#                                        {#}
{#                                            name: '评分数量（条）',#}
{#                                            type: 'effectScatter',#}
{#                                            symbolSize: 20,#}
{#                                            data: [#}
{#                                                {% for job in books_detail %}#}
{#                                                [{{ job.salaryOne|floatformat }}, {{ job.workYearAvr|floatformat }}]#}
{#                                                {% if not forloop.last %}, {% endif %}{% endfor %}#}
{#                                            ],#}
{#                                        }#}
{#                                    ]#}
{#                                };#}
                                option = {
                                    color: ['#3398DB'],
                                    title: {
                                        text: '{{ job_name }}评论分布区间',
                                        subtext: '来自-互联网',
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'axis',
                                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                        }
                                    },
                                    grid: {
                                        left: '3%',
                                        right: '4%',
                                        bottom: '3%',
                                        containLabel: true
                                    },
                                    xAxis: [
                                        {
                                            type: 'category',
                                            data: ['0-6分','6-7分', '7-8分', '8-9分', '9-10分'],
                                            axisTick: {
                                                alignWithLabel: true
                                            }
                                        }
                                    ],
                                    yAxis: [
                                        {
                                            type: 'value'
                                        }
                                    ],
                                    series: [
                                        {
                                            name: '评论数',
                                            type: 'bar',
                                            barWidth: '30%',
                                                data: [{{ book_socre_0_6_num }},{{ book_socre_6_7_num }}, {{ book_socre_7_8_num }}, {{ book_socre_8_9_num }}, {{ book_socre_9_10_num }}]
{#                                            data: [{{ book_socre_0_6_num }} , 30 ,  40,  50, 60 ]#}
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
                            </script>
                        </div>
                    </div>



                </div>
                <div class="tab-pane fade in active" id="job">
                    <div class="table-responsive">
                        {% load pagination_tags %}
                        {% autopaginate books_detail %}
                        <table class="table table-hover">
                            <h1>
                                {{ book_detail_name.book_name }}
                            </h1>>
                            <div id="info" class>
                                <span>
                                  <span class="pl"> 作者</span>:
                                        {{ book_detail_name.book_author }}</span><br><br>
                                <span class="pl">出版社:</span> "{{ book_detail_name.book_publisher }}<br><br>
                                <span class="pl">译者:</span> {{ book_detail_name.book_translator }}<br><br>
                                <span class="pl">页数:</span> {{ book_detail_name.book_page_num }}<br><br>
                                <span class="p1">评论1: </span>"{{ book_detail_name.book_comm1 }}"<br>
                                <span class="p1">评论2: </span>"{{ book_detail_name.book_comm2 }}"<br>
                                <span class="p1">评论3: </span>"{{ book_detail_name.book_comm3 }}"<br>
                                <span class="p1">评论4: </span>"{{ book_detail_name.book_comm4 }}"<br>
                                <span class="p1">评论5: </span>"{{ book_detail_name.book_comm5 }}"<br>
                            </div>

{#                            <thead>#}
{#                            <tr>#}
{#                                <th>序号</th>#}
{#                                <th>标签</th>#}
{#                                <th>薪水</th>#}
{#                                <th>地点</th>#}
{#                                <th>学历</th>#}
{#                                <th>经验</th>#}
{#                                <th>发布时间</th>#}
{#                                <th>详情链接</th>#}
{#                                <th>职位描述</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            {% for job in job_detail %}#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td>{{ forloop.counter }}</td>#}
{#                                    <td>{{ job.positionLables|truncatechars:20 }}</td>#}
{#                                    <td>{{ job.salary }}</td>#}
{#                                    <td>{{ job.district }}</td>#}
{#                                    <td>{{ job.education }}</td>#}
{#                                    <td>{{ job.workYear }}</td>#}
{#                                    <td>{{ job.createTime }}</td>#}
{#                                    <td><a href="{{ job.detail_url }}" target="_blank">拉勾网</a></td>#}
{#                                    <td>{{ job.positionDetail|truncatechars:20 }}</td>#}
{#                                                                        <td>#}
{#                                                                            <h4 class="panel-title">#}
{#                                                                                <script type="text/javascript">#}
{#                                                                                    $(function () {#}
{#                                                                                        $('#{{ job.positionId }}').collapse('hide')#}
{#                                                                                    });#}
{#                                                                                </script>#}
{#                                                                                <a data-toggle="collapse" data-parent="#accordion"#}
{#                                                                                   href="#{{ job.positionId }}">#}
{#                                                                                    {{ job.positionDetail|truncatechars:25 }}#}
{#                                                                                </a>#}
{##}
{#                                                                            </h4>#}
{#                                                                            <div id="{{ job.positionId }}" class="panel-collapse collapse in">#}
{#                                                                                <div class="panel-body">#}
{#                                                                                    {{ job.positionDetail }}#}
{#                                                                                </div>#}
{#                                                                            </div>#}
{#                                                                        </td>#}
{#                                </tr>#}
{##}
{#                                </tbody>#}
{#                            {% endfor %}#}
                        </table>
                        {% paginate %}
                    </div>
                </div>
{#                <div class="tab-pane fade" id="learn">#}
{#                    <div class="table-responsive">#}
{#                        {% load pagination_tags %}#}
{#                        {% autopaginate learn %}#}
{#                        <table class="table table-hover">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>序号</th>#}
{#                                <th>课程类型</th>#}
{#                                <th>课程名称</th>#}
{#                                <th>课程难度</th>#}
{#                                <th>课程详情</th>#}
{#                                <th>课程连接</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            {% for lea in learn %}#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td>{{ forloop.counter }}</td>#}
{#                                    <td>{{ lea.learnType }}</td>#}
{#                                    <td>{{ lea.learnLabel }}</td>#}
{#                                    <td>{{ lea.learnLevel }}</td>#}
{#                                    <td>{{ lea.learnDetail|truncatechars:25 }}</td>#}
{#                                    <td><a href="{{ lea.learnURL }}" target="_blank">{{ lea.webName }}</a></td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            {% endfor %}#}
{#                        </table>#}
{#                        {% paginate %}#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}